@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
 margin: 0;
 padding: 0;
 overflow-x: hidden;
}

/* HEADER */

.header-main-image {
  height: 725px;
  width: 100%;
}

.header {
  padding-right: 15%;
  padding-left: 15%;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  bottom: 720px;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.nav ul{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 list-style: none;
 color: #c1c3d9;
 font-weight: bold;
 text-transform: uppercase;
 gap: 58px;
 font-size: 12px;
 font-family: 'Raleway', sans-serif;
 margin-top: 25px;
 cursor: pointer;
}

.nav a{
  text-decoration: none;
  color: #c1c3d9;
 }

.nav li:hover{
  opacity: 0.8;
}

.header-logo {
  margin-top: 25px;
  height: 20px;
}

.heading-main-div {
  display: flex;
  justify-content: center;
}

.heading-main {
 position: absolute;
 top: 150px;
 display: flex;
 flex-direction: column;
 justify-content: center; 
}

.heading-main h1{
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  margin-left: 450px;
  margin-right: 450px;
  text-align: center; 
}

.heading-main p{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  opacity: 0.9;
  font-weight: lighter;
  text-align: center;
}

.main-text {
  margin-left: 450px;
  margin-right: 450px; 
}

.button {
  cursor: pointer;
  text-transform: uppercase;
  background-color: #e84546;
  height: 45px;
  width: 170px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 2%;
  /* margin-left: 450px;
  margin-right: 450px; */
}

.button a{
  font-size: 12px;
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

/* MAIN */

.features-section {
  display: flex;
  justify-content: center;
  padding-bottom: 6.5%;
  padding-top: 3%;
}

.features-section-div{
  display: grid;
  grid-template-columns: 300px 300px 300px; 
  column-gap: 80px;
  row-gap: 60px;
}

.icon-img {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.feature-type {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

.feature-description {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 14px;
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  height: 350px;
  box-sizing: border-box;
  width: 25%;
  border: #fff 1px solid;
  overflow: hidden;
  position: relative;
}

.work-item:hover .work-content {
  opacity: 1;
}

.work-image {
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}

.work-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  background: rgba(232, 69, 69, 0.9);
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  font-family: 'Raleway', sans-serif;
  transition: opacity 0.2s linear;
}

.work-title {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.work-text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.team-section-div {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 100px;
  font-family: 'Raleway', sans-serif;
}

.team-section-person {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.team-section-person-job {
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.team-section-person-description {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-right: 25px;
}

.social-media-icons {
  display: flex;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  background-color: #fff;
  border: 1px solid #e8ecee;
  transition: background 0.1s linear;
}

.social-item:hover {
 background-color: #2a2e49;
 color: white;
 cursor: pointer;
}

.first-image-div {
  height: 100px;
  width: 100px;
  color: purple;
}

/* DOWNLOAD */

.download-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.download-section-div {
  display: flex;
  flex-direction: column;
}

.download-section-div h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 27px;
}

.download-section-div p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 50px;
}

.button-two {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #e84546;
  height: 50px;
  width: 230px;
  margin-right: auto;
  margin-left: auto;
  border:none
}

.button-two a {
  font-size: 14px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

/* FOOTER */

.main-footer-div {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.footer-one {
  height: 200px;
  margin-top: 70px;
  padding-top: 40px;
  background-color: #3a3e63;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding-left: 280px;
  padding-right: 170px;
}

.footer-location {
  display: flex;
  flex-direction: column;
  margin-right: 170px;
}

.footer-share {
  display: flex;
  flex-direction: column;
}

.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  background-color: #3a3e63;
  color: white;
  border: 1px solid #e8ecee;
  transition: background 0.1s linear;
}

.footer-social-item:hover {
 background-color: #fff;
 color: #3a3e63;
 cursor: pointer;
}

.footer-social-media-icons {
  display: flex;
}

.footer-about {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.footer-description {
  text-align: center;
  color: #8687a6;
  font-size: 14px;
}

.footer-description-two {
  color: #8687a6;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.footer-two {
  background-color: #313455;
  display: flex;
  justify-content: center;
}

.footer-two-details {
  color: #777b88;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.footer-two-details-two {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

/* NAV BURGER */

.burger {
  display: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 9px 2px;
}

.burger-item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;

  font-size: 0;
  color: transparent;

  position: relative;
}

.burger-item:before,
.burger-item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  z-index: 1;
}

.burger-item:before {
  top: -8px;
}

.burger-item:after {
  bottom: -8px;
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  .header {
    padding-right: 0%;
    padding-left: 0%;
  }

  .nav {
    height: 90px;
    margin-left: 20px;
    margin-right: 20px;
   }

   .header-logo {
    margin-top: auto;
    margin-bottom: auto;
    height: 26px;
  }

   .nav ul {
    gap: 48px;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .heading-main h1 {
    font-size: 60px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .heading-main p{
    font-size: 23px;
    font-weight: lighter;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
  }

  .features-section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .features-section-div{
    grid-template-columns: 240px 240px 240px; 
  }

  .responsive-team-section img{
    height: 250px;
    width: 220px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .team-section-person {
    font-size: 20px;
    padding-left: 15px;
  }
  
  .team-section-person-job {
    font-size: 12px;
    padding-left: 15px;
  }
  
  .team-section-person-description {
    font-size: 12px;
    margin-right: 15px;
    padding-left: 15px;
  }

  .social-media-icons {
    margin-left: 15px;
  }
  
  .social-item {
    width: 30px;
    height: 30px;
    margin-right: 4px;
  }
  
  .footer-one {
    gap: 50px;
    padding-left: 280px;
    padding-right: 140px;
  }

  .footer-location {
    margin-right: 80px;
  }

  .footer-share {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

}

@media (max-width: 1024px) {
  /* .nav {
    width: 100%;
    flex-direction: column;
    text-align: right;
    background-color: #30344e;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
  } */

  .nav ul{
    width: 100%;
    flex-direction: column;
    text-align: right;
    background-color: #30344e;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
}

.nav.show {
    display: flex;
}

.nav__link {
    padding: 9px 15px;

}

/*burger*/
.burger {
    display: block;
}


  /* .nav ul{
   gap: 32px;
   flex-direction: column;
   display: none;
   font-size: 10px;
  }

  .nav.show {
    display: flex;
} */

  .heading-main p{
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .heading-main h1{
    font-size: 60px;
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 0px;
  }

  .features-section {
    margin-left: auto;
    margin-right: auto;
  }

  .features-section-div{
    grid-template-columns: 200px 200px 200px; 
  }

  .works {
    display: flex;
    grid-template-columns: 100px 100px; 
  }
  
  .work-item {
    width: 50%;
  }
  
  .footer-one {
    gap: 50px;
    padding-left: 140px;
    padding-right: 40px;
  }

  .footer-title {
    font-size: 15px;
  }

  .footer-location {
    margin-right: 120px;
  }

  .footer-share {
    margin-right: 10px;
  }

  .footer-description {
    font-size: 14px;
  }

  .footer-description-two {
    color: #8687a6;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 768px) {

  .heading-main p{
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .heading-main h1{
    font-size: 40px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .features-section-div{
    grid-template-columns: 200px 200px; 
  }

  .works {
    grid-template-columns: 100px; 
  }
  
  .work-item {
    width: 100%;
  }

  .team-section-div {
    display: grid;
    grid-template-columns: 220px 220px;
    margin-left: auto; 
    margin-right: auto;
    gap: 50px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .responsive-team-section img {
     margin-right: 0px;
     margin-left: 0px; 
  }

  .team-section-person {
    font-size: 23px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
  }
  
  .team-section-person-job {
    font-size: 12px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
  }
  
  .team-section-person-description {
    font-size: 14px;
    margin-right: 0px;
    padding-left: 0px;
    text-align: center;
  }

  .social-media-icons {
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  
  .social-item {
    width: 50px;
    height: 50px;
    margin-right: 4px;
  }
  
  .footer-one {
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    height: 300px;
  }

  .footer-title {
    font-size: 15px;
  }

  .footer-location {
    margin-right: 0px;
  }

  .footer-share {
    margin-right: 0px;
  }

  .footer-description {
    font-size: 14px;
  }

  .footer-social-media-icons {
    display: flex;
    justify-content: center;
  }

  .footer-description-two {
    color: #8687a6;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 480px) {
  
  .heading-main h1{
    font-size: 32px;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .heading-main p{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  .features-section {
    margin-bottom: 80px;
  }

  .features-section-div{
    grid-template-columns: 300px; 
  }
  
  .feature-description {
    text-align: center;
    font-size: 16px;
  }

  .team-section-div {
    grid-template-columns: 260px;
  }

  .responsive-team-section img {
     height: 280px;
     width: 260px; 
  }

  .team-section-person-description {
    font-size: 16px;
  }
  
  .download-section-div h3 {
    font-size:30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  
  .download-section-div p {
    font-size: 13px;
  }
  
  .footer-one {
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    height: 350px;
  }

  .footer-title {
    font-size: 15px;
  }

  .footer-location {
    margin-right: 0px;
  }

  .footer-share {
    margin-right: 0px;
  }

  .footer-description {
    font-size: 14px;
  }

  .footer-social-media-icons {
    display: flex;
    justify-content: center;
  }

  .footer-description-two {
    color: #8687a6;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }

  .burger {
    display: block;
  }
}

